
     /*
     cardinals colors: red rgb(196,30,58),  blue rgb(12,35,64), yellow rgb(254,219,0)
     */

body {
    clear: both;
    margin: 0px;
}

header {
    background-color: rgb(196, 30, 58);
    border-bottom: 5px solid rgb(254, 219, 0);
    overflow: auto;
}

header h1 {
    margin-left: 10px;
    color: white;
}

#header_logo {
    float: left;
    margin: 10px;
}

#header_teamname {
    float: left;
    padding: 20px;
}

nav {
    background-color: rgb(12, 35, 64);
    color: white;
    padding: 0px;
    overflow: auto;
}

.nav_internal:hover {
    background-color:rgb(196, 30, 58);
}

.nav_external:hover {
    background-color: gray;
}

.nav_internal {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.nav_external {
    position: absolute;
    right: 0px;
    color: white;
    overflow: auto;
}

#nav_select {
    margin: 15px 10px 9px;
    vertical-align: center;
    padding: 5px;
}

#nav_label {
    float: left;
    padding-left: 10px;
}

#background {
    /*
        Image Source: wikimedia.org
        https://commons.wikimedia.org/wiki/File:BuschStadium_2006-05-30.jpg
    */
    background-image: url(resource/stadium.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#foreground {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background-color: lightgray;
    box-shadow: -7px 0px 15px black, 7px 0px 15px black;
}

.article_header {
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    background-color: gray;
}

.article_header h2 {
    padding: 5px;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.article_content {
    width: 100%;
    padding-bottom: 15px;
    overflow: auto;
}

article {
    margin: 15px;
    border-radius: 5px;
    box-shadow: 7px 7px 4px darkgray;
    background-color: white;
    color: black;
}

.standing_charts {
    margin: auto;
    width: 80%;
}

.highlight {
    color: rgb(196, 30, 58);
}

.standings_table tr:nth-child(odd) {
    background: lightgray;
}

.standings_table tr:first-child {
    font-weight: bold;
    background: darkgray;
}

.standings_table {
    border-collapse: collapse;
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    text-align: center;
    border: solid black;
}

.standings_table th {
    width: 20%;
    height: 25px;
}

.standings_table td {
    width: 20%;
    height: 20px;
}

.game {
    padding-left: 3px;
    text-shadow: 2px 2px 2px white;
    margin-top: 1px;
    margin-bottom: 1px;
}

.cal table {
    margin: auto;
    margin-top: 15px;
    border-collapse: collapse;
    margin-bottom: 15px;
}

.cal td {
    border: 4px solid black;
    width: 125px;
    height: 125px;
    border-collapse: collapse;
    text-align: left;
    vertical-align: top;
}

.cal tr:nth-child(odd) td.day:nth-child(odd) {
    background-color: lightgray;
}

.cal tr:nth-child(odd) td.day:nth-child(even)
{
    background-color: darkgray;
}

.cal tr:nth-child(even) td.day:nth-child(even) {
    background-color: lightgray;
}

.cal tr:nth-child(even) td.day:nth-child(odd) {
    background-color: darkgray;
}

.cal .empty_date {
    border: 0px;
}

.cal .month {
    text-align: center;
    background-color: rgb(196,30,58);
    color: white;
    height: 50px;
    text-shadow: 2px 2px 2px black;
}

.cal .date {
    margin: 5px;
    font-weight: bold;
}

.cal tr {
    border-collapse: collapse;
}

.depth_charts {
    margin: auto;
    margin-bottom: 15px;
    width: 90%;
    text-align: center;
}

.depth_list {
    /*    float: left;    */
    display: inline-block;
    text-align: left;
    height: 160px;
    padding-left: 0px;
    margin: 15px;
    vertical-align: top;
}

.depth_table_item {
    padding-top: 5px;
}

.depth_item_name {
    width: 160px;
    height: 20px;
    vertical-align: sub;
}

.depth_item_number {
    width: 30px;
    height: 20px;
    vertical-align: sub;
}

#news_text {
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}

#news_form {
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}

#foot_blue {
    background-color: rgb(12, 35, 64);
    height: 25px;
}

#foot_content {
    background-color: rgb(196, 30, 58);
    border-top: 5px solid rgb(254, 219, 0);
    text-align: center;
    color: white;
    padding: 1px;
}

#official_site {
    height: 20px;
    vertical-align: sub;
}

