
     /*
     cardinals colors: red rgb(196,30,58),  blue rgb(12,35,64), yellow rgb(254,219,0)
     */

body {
    background-color: lightgray;
    margin: 0px;
}

header {
    background-color: rgb(196, 30, 58);
    border-bottom: 5px solid rgb(254, 219, 0);
}

header h1 {
    margin-left: 10px;
    color: white;
}

nav {
    background-color: rgb(12, 35, 64);
    color: white;
    padding: 10px;
}

article {
    margin: 10px;
    padding: 10px;
    background-color: white;
    color: black;
}
